@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Roboto+Mono:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono' sans-serif;
    font-size: 23px;
}

body {
    height: 100vh;
    background-color: #3FD1E9 ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container {
    width: 450px;
    background-color:  #20FFBA ;
    padding: 70px 50px;
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.CF {
    background-color: #20FFBA ;
    width: 45;
}

input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #fff;
    outline: none;
    margin: 8px;
    padding: 0% 10px;
}